@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Montserrat&family=Sacramento&display=swap');

body {
    margin: 0;
    text-align: center;
    font-family: "Merriweather", serif;
    color: #40514e;
}

h1 {
    margin: 50px auto 0 auto;
    font-family: "Sacramento", cursive;
    font-size: 6rem;
    line-height: 2;
    color: #66BFBF;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color: #66BFBF;
    font-weight: normal;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
}

a {
    color: #11999E;
}

.bio {
    width: 30%;
    margin: auto;
}

p {
    line-height: 2;
}

hr {
    border-style: none;
    border-top-style: dotted;
    width: 5%;
    border-width: 5px;
    border-color: gray;
    margin-top: 30px;
    margin-bottom: 30px;
    opacity: 20%;
}


/********************* TOP CONTAINER *********************/
.top-container {
    background-color: #E4F9F5;
    position: relative;
    padding-top: 100px;
    line-height: 1;
}

.pro {
    text-decoration: underline;
}

.top-cloud {
    position: absolute;
    right: 300px;
    top: 50px;
}

.bottom-cloud {
    position: absolute;
    left: 300px;
    bottom: 300px;
}

.profilepic {
    margin-top: 2.5rem;
}

/**********************************************************/

/******************** MIDDLE CONTAINER ********************/
.middle-container {
    margin: 100px 0 100px 0;
}

.skill-row {
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
}

.dev-img {
    width: 25%;
    float: left;
    margin-right: 30px;
}

.design-img {
    width: 25%;
    float: right;
    margin-left: 30px;
}

.translate-img {
    width: 25%;
    float: left;
    margin-right: 30px;
}

/**********************************************************/


.footer {
    color: white;
    margin-bottom: 10px;
    margin-top: 20px;
}

.bottom-container {
    background-color: #66BFBF;
    margin-bottom: 0;
    padding-top: 50px;
    height: 80px;
}

.footer-link {
    color: #11999E;
    margin-right: 30px;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2em;
    font-weight: bold;
}

.contact-me {
    margin-bottom: 30px;
}

.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    position: relative;
    top: 30px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

.btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
}
